body {
background-image: url('../ui/bg.gif');
background-attachment: fixed;
color: #555;
padding: 0;
margin: 0;
font-family: 'Fauna One'; //this is loaded from google fonts
}

#header {
position: fixed;
top: 0;
width: 100%;
color: #fff;
height: 40px;
text-align: center;
text-transform: capitalize;
padding-top: 15px;
/* Adds shadow to the bottom of the bar */
-webkit-box-shadow: 0px 0px 8px 0px #000000;
-moz-box-shadow: 0px 0px 8px 0px #000000;
box-shadow: 0px 0px 8px 0px #000000;
/* Adds the transparent background */
background-color: rgba(1, 1, 1, 0.8);
color: rgba(1, 1, 1, 0.8);
}

#fblink {
	display: block;
	background-repeat: no-repeat;
	margin-right:5px;
	margin-top: -32px;
	background-image: url('../ui/icons/active/Facebook.png');
	width: 56px;
	height: 56px;
}
#fblink:hover {
	background-image: url('../ui/icons/hover/Facebook.png');
}

#twlink {
	display: block;
	background-repeat: no-repeat;
	margin-right:5px;
	margin-top: -32px;
	background-image: url('../ui/icons/active/Twitter.png');
	width: 56px;
	height: 56px;
}
#twlink:hover {
	background-image: url('../ui/icons/hover/Twitter.png');
}

#rsslink {
	display: block;
	background-repeat: no-repeat;
	margin-right:5px;
	margin-top: -32px;
	background-image: url('../ui/icons/active/RSS.png');
	width: 56px;
	height: 56px;
}
#rsslink:hover {
	background-image: url('../ui/icons/hover/RSS.png');
}


a {
	text-decoration: none;
}

li {
	float: left;
	list-style: none;
}

#logo {
	float: left;
	width: 30%;
	// must fit in 52px high space
}

#navigation {
	width: 40%;
	float: left;
}

#socialize {
	width: 30%;
	float: left;
	text-align: right;
	vertical-align: middle;
}
#navigation a {
font-size: 14px;
padding-left: 15px;
padding-right: 15px;
color: white;
text-decoration: none;
}

#navigation a:hover {
color: #149ad4;
} 

#content {
font-family: 'Fauna One', 'TrebuchetMS', monospace;
font-size: 2em;
line-height: 1.5em;
margin: auto;
width: 80%;
text-shadow: 0px 1px 1px #fff;
margin-top: 60px;
margin-bottom: 35px;
min-width: 50%
}

::selection { /*because I'm a sucker for orange, bitchez :D*/
background-color: orange;
color: #fff;
}

#footer {
position: fixed;
bottom: 0;
width: 100%;
color: white;
height: 20px;
text-align: center;
/* Adds shadow to the bottom of the bar */
-webkit-box-shadow: 0px 0px 8px 0px #000000;
-moz-box-shadow: 0px 0px 8px 0px #000000;
box-shadow: 0px 0px 8px 0px #000000;
/* Adds the transparent background */
background-color: rgba(1, 1, 1, 0.9);
color: rgba(1, 1, 1, 0.8);
}

#footer a {
	color: gray;
}

#footer a:hover {
	color:#149ad4;
}


/* shadow shit - normal sane browsers
-moz-box-shadow: 3px 3px 4px #000;
-webkit-box-shadow: 3px 3px 4px #000;
box-shadow: 3px 3px 4px #000;
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
*/
}

