body {
	background-image: url('../ui/bg.gif');
	background-attachment: fixed;
	color: #555;
	padding: 0;
	margin: 0;
	/* font-family: Arial, 'Fauna One'; /* this gets loaded from google fonts via my fonts.js */
	font-family: "Arial, Helvetica, sans-serif";
}

span {
  display: inline-block;
  vertical-align: middle;
}

a {
	text-decoration: none;
	color: white;
}
a:hover {
	color: #149ad4;
}

/* visual debugging ffs, set to 1 to see what's what when mousing over :| I know, it sucks, but beats using fucking dreamweaver and getting shit wrong anyway :) */
div:hover {
	border: 0px dashed red;
}

h1 {
	color: #149ad4;
	text-align: center;
}
h1::selection {
	background-color: #149ad4;
	color: white;
}
h1::-moz-selection {
	background-color: #149ad4;
	color: white;
}
#header {
	position: fixed;
	top: 0;
	width: 100%;
	color: #fff;
	height: 55px;
	text-align: center;
	/* Adds shadow to the bottom of the bar */
	box-shadow: 0px 0px 8px 0px #000000;
	/* Adds the transparent background */
	background-color: rgba(1, 1, 1, 0.9);
	color: rgba(1, 1, 1, 0.8);
}


#logo {
	float: left;
	width: 20%;
	text-align: right;
	max-height: 52px;
	min-height: 52px;
	color: #149ad4;
	margin-top: 6px;

}
	/* must fit in 52px high space */
}
#logo:hover {
	color: white;
}

#navigation {
	width: 60%;
	height: 52px;
	float: left;
	line-height: 52px;
	text-align: center;
}

#navigation a {
	font-size: 16px;
	padding-left: 15px;
	padding-right: 15px;
	color: white;
	text-decoration: none;
}

#navigation a:hover {
color: #149ad4;
} 

/* them round social media icons that won't show the same on fucking internet exploder.. FML */
#socialize {
	right:0;
	width: 20%;
	max-height: 52px;
	height: 52px;
	max-height: 52px;
	float: right;
	text-align: center;
}

#socialize a {
	display: block;
	float: left;
	text-align: right;
	margin-top: -1px;
}
#fblink {
	margin0px;
	background-repeat: no-repeat;
	background-image: url('../ui/icons/active/Facebook.png');
	width: 56px;
	height: 56px;
	vertical-align: top;
	text-align: right;
}
#fblink:hover {
	background-image: url('../ui/icons/hover/Facebook.png');
}

#twlink {
	background-repeat: no-repeat;
	background-image: url('../ui/icons/active/Twitter.png');
	width: 56px;
	height: 56px;
	vertical-align: top;
	text-align: right;
}
#twlink:hover {
	background-image: url('../ui/icons/hover/Twitter.png');
}

#rsslink {
	background-repeat: no-repeat;
	background-image: url('../ui/icons/active/RSS.png');
	width: 56px;
	height: 56px;
	vertical-align: top;
	text-align: right;
}
#rsslink:hover {
	background-image: url('../ui/icons/hover/RSS.png');
}

/* obviously, the main page content, be it text or the gallery or paul's contact form or whatever */
#content {
	font-family: Arial, Helvetica, sans-serif, 'Fauna One', 'TrebuchetMS', monospace;
	font-size: 21px;
	line-height: 1.7em;
	margin: auto;
	width: 80%;
	text-shadow: 0px 1px 1px #fff;
	margin-top: 80px;
	margin-bottom: 60px;
	min-width: 50%
}

#bigredbutton {
	width: 30%;
	min-width: 20%;
	margin-left: auto;
	margin-right: auto;
	background-color: red;
	text-align: center;
	box-shadow: 1px 1px 1px rgba(1,1,1,0.8);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
#bigredbutton:hover{
	color: yellow;
}

#getintouch {
	font-style: italic;
}

#phone {
	//font-family: 'Tahoma';
}


::selection { /* because I'm a sucker for orange, bitchez :D */
	background-color: orange;
	color: #fff;
} 
::-moz-selection {
	background-color: orange;
	color: #fff;
}

#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	color: white;
	height: 20px;
	text-align: center;
	/* Adds shadow to the bottom of the bar */
	box-shadow: 0px 0px 8px 0px #000000;
	/* Adds the transparent background */
	background-color: rgba(1, 1, 1, 0.9);
	color: rgba(1, 1, 1, 0.8);

}

#footer {
	color: gray;
}

#footer:hover {
	color:#149ad4;
}

#footer a {
	color: gray;
}

#footer a:hover {
	color:#149ad4;
}

#footer_left {
	float: left;
}
#footer_right {
	float: right;
}

#ro:hover {
	color:orange;
}

#contact_link {
	color: orange;
}
#contact_link:hover {
	color: #149ad4;
}

/* gallery style and spacing and all that crap */





